h1, h2, h3{
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.5em;
    color: steelblue;
    margin-bottom: .5em;
}

h2{
    font-size: 1em;
    color: #1f1f1f;
}

h3{
    font-size: .8em;
    color: #333;
}