.Button{
    border: none;
    padding: 10px 25px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #f1f1f1;
    min-width: 150px;
    cursor: pointer;
}

.Button.success{
    background-color: steelblue;
    color: white;
}

.Button.warning{
    background-color: orange;
}

.Button.danger{
    background-color: tomato;
    color: white;
}
